<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Innovations</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./bootstrap/css/bootstrap.min.css')}}">

    <!-- <link rel="icon" href="{{url_for('static',filename='./deep.png')}}" type="image/png" sizes="16x16"> -->
    <script src="{{url_for('static',filename='./bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='./js/plotly.js')}}"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"
        integrity="sha256-caNcSA0LvOCX90PTuEbwl+V09xPMca13CJUasl+VCtk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='./css/styles.css')}}">
</head>

<body>
    <div class="container-fluid shadow jumbotron clearfix">
        <h1 class="text-black font-weight-bolder text-center lead display-3">Dashboard</h1>

        <div class="container rounded shadow w-25 float-left text-center ml-5 border">
            <div class="title w-100 text-left p-2">
                <h1 class="display-5 font-weight-bold">Farmer details</h1>
            </div>

            <div>
                <table class="table  text-left
                table-borderless lead font-weight-normal">
                    <thead>
                        <tr>

                            <td scope="col">Name</td>
                            <td scope="col">BABULAL AVCHIT THAKARE </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Address</td>
                            <td>XXXX</td>
                        </tr>
                        <tr>

                            <td>Village</td>
                            <td>XXXX</td>
                        </tr>
                        <tr>
                            <td>Sub-District</td>
                            <td>
                                XXXX
                            </td>
                        </tr>
                        <tr>
                            <td>Block Name</td>
                            <td>
                                XXXX
                            </td>
                        </tr>
                        <tr>
                            <td>District</td>
                            <td>
                                XXXX
                            </td>
                        </tr>
                        <tr>
                            <td>Aadhaar Number</td>
                            <td>
                                XXXX
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile No.</td>
                            <td>
                                XXXXX-XXXXX
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Gender: XX, Category: XXXXXX</td>

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="container shadow w-75 mt-5 ml-5 mr-5 p-3 d-inline-block float-right text-center border rounded">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6031.626178159119!2d75.90455604997332!3d21.156520864602175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd9b1fd5416bda9%3A0x38c162d7fef2153c!2sHotel%20kundan!5e1!3m2!1sen!2sin!4v1582452475022!5m2!1sen!2sin"
                width="100%" height="520" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>

    </div>

    <!-- Present Soils -->
    <div class="container-fluid shadow clearfix text-center  float-center border"
        style="width:80%;margin-left:10%;margin-top:2%;margin-bottom:2%">
        <h1 class="display-4 text-center mt-2 font-weight-bolder" style>Present Soils</h1>
        <div class="float-left ml-2 mb-4 mt-3" style="width:45%">
            <table class="table  text-left
             lead ml-5 table-bordered font-weight-normal">
                <thead>
                    <tr>

                        <th scope="col" style="font-size:24px">Parameter</th>
                        <th scope="col" style="font-size:24px">Test Value </th>
                        <th scope="col" style="font-size:24px">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td style="font-size:20px">pH</td>
                        <td style="font-size:20px">8.10</td>
                        <td style="font-size:20px">Moderately Alkaline</td>
                    </tr>
                    <tr>

                        <td style="font-size:20px">EC</td>
                        <td style="font-size:20px">0.68</td>
                        <td style="font-size:20px">Normal</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Organic Carbon(OC)</td>
                        <td style="font-size:20px">0.12</td>
                        <td style="font-size:20px">Very Low</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Nitrogen(N)</td>
                        <td style="font-size:20px">222.60</td>
                        <td style="font-size:20px">Low</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Phosphorous(P)</td>
                        <td style="font-size:20px">4.05</td>
                        <td style="font-size:20px">Very Low</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Potassium (K)</td>
                        <td style="font-size:20px">749.95</td>
                        <td style="font-size:20px">Very High</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="float-left ml-5 mb-4 mt-3" style="width:45%">
            <table class="table table-bordered ml-5 text-left
            table-bordered lead font-weight-normal">
                <thead>
                    <tr>

                        <th scope="col" style="font-size:24px">Parameter</th>
                        <th scope="col" style="font-size:24px">Test Value </th>
                        <th scope="col" style="font-size:24px">Rating</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="font-size:20px">Available Sulphur(S)</td>
                        <td style="font-size:20px">14.00</td>
                        <td style="font-size:20px">Sufficient</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Zinc(Zn)</td>
                        <td style="font-size:20px">0.47</td>
                        <td style="font-size:20px">Deficient</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Boron(B)</td>
                        <td style="font-size:20px">2.15</td>
                        <td style="font-size:20px">Sufficient</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Iron(Fe)</td>
                        <td style="font-size:20px">3.50</td>
                        <td style="font-size:20px">Deficient</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Manganese(Mn)</td>
                        <td style="font-size:20px">5.20</td>
                        <td style="font-size:20px">Sufficient</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px">Available Copper(Cu)</td>
                        <td style="font-size:20px">0.21</td>
                        <td style="font-size:20px">Sufficient</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <!-- Predictions  -->

    <div class="container-fluid shadow clearfix text-center  float-center border"
        style="width:80%;margin-left:10%;margin-top:2%;margin-bottom:2%">
        <h1 class="display-4 mb-4 mt-2 font-weight-bold text-center">Crop Predictions</h1>
        <div class="float-center " style="width:100%">
            <table class="table  text-center
            table-bordered lead  font-weight-normal">
                <thead>
                    <tr>

                        <th scope="col" style="font-size:24px">Name</th>
                        <th scope="col" style="font-size:24px">Estimated yield(Quintals)</th>
                        <th scope="col" style="font-size:24px">Estimated Cost(Rupees)</th>
                        <th scope="col" style="font-size:24px">Duration(Days)</th>
                        <th scope="col" style="font-size:24px">Water Requirement(mm)</th>
                        <!-- <th scope="col">Irrigation Requirement</th> -->


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-size:20px">Sugarcane</td>
                        <td style="font-size:20px">4314</td>
                        <td style="font-size:20px">106094</td>
                        <td style="font-size:20px">270</td>
                        <td style="font-size:20px">1700</td>
                        <!-- <td style="font-size:20px"></td> -->
                    </tr>
                    <tr>
                        <td style="font-size:20px">Cotton</td>
                        <td style="font-size:20px">86.9</td>
                        <td style="font-size:20px">402648</td>
                        <td style="font-size:20px">180</td>
                        <td style="font-size:20px">1000</td>
                        <!-- <td style="font-size:20px"></td> -->
                    </tr>
                    <tr>
                        <td style="font-size:20px">Rice</td>
                        <td style="font-size:20px">234</td>
                        <td style="font-size:20px">375096</td>
                        <td style="font-size:20px">95</td>
                        <td style="font-size:20px">600</td>
                        <!-- <td></td> -->
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!-- Graphs -->
    <div class="container-fluid jumbotron clearfix p-5">
        <h1 class="display-4 text-center font-weight-bold">Rainfall</h1>
        <div class=" shadow card good  mr-1 mt-3 float-left " style="width:45%;margin-left:5%">
            <div id="rain_jf">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_rain_jf | safe}};
            var layout = { title: 'Rainfall in Jan-Feb from 1984-2018', xaxis: { title: 'Years' }, yaxis: { title: 'mm' } };
            Plotly.newPlot('rain_jf', graphs_population, layout);
        </script>

        <div class=" shadow card good ml-3 mr-3 mt-3 float-left " style="width:45%">
            <div id="rain_ijas">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_rain_ijas | safe}};
            var layout = { title: 'Rainfall in June-Sept from 1984-2018', xaxis: { title: 'Years' }, yaxis: { title: 'mm' } };
            Plotly.newPlot('rain_ijas', graphs_population, layout);
        </script>
        <div class=" card good shadow  mr-3 mt-2 mb-3 float-left " style="width:45%;margin-left:5%;">
            <div id="rain_mam">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_rain_mam | safe}};
            var layout = { title: 'Rainfall in Mar-May from 1984-2018', xaxis: { title: 'Years' }, yaxis: { title: 'mm' } };
            Plotly.newPlot('rain_mam', graphs_population, layout);
        </script>

        <div class="card shadow good ml-1 mt-1 mt-2 mr-3 mb-3 float-left " style="width:45%">
            <div id="rain_ons">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_rain_ons | safe}};
            var layout = { title: 'Rainfall in Oct-Dec from 1984-2018', xaxis: { title: 'Years' }, yaxis: { title: 'mm' } };
            Plotly.newPlot('rain_ons', graphs_population, layout);
        </script>
    </div>



    <!-- Production  -->

    <div class="container-fluid  clearfix" style="height:70vh">
        <h1 class="display-4 text-center mb-3 font-weight-bold">Production</h1>

        <div class=" shadow card good ml-1 mt-4 float-left " style="width:33%">
            <div id="produce_rice">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_produce_rice | safe}};
            var layout = { title: 'Rice Production', xaxis: { title: 'Area' }, yaxis: { title: 'kg' } };
            Plotly.newPlot('produce_rice', graphs_population, layout);
        </script>




        <div class="shadow card good ml-1 mt-4 float-left " style="width:33%">
            <div id="produce_cotton">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_produce_cotton | safe}};
            var layout = { title: 'Cotton Production', xaxis: { title: 'Area' }, yaxis: { title: 'kg' } };
            Plotly.newPlot('produce_cotton', graphs_population, layout);
        </script>


        <div class="shadow card good ml-1 mt-4 float-left d-block " style="width:33%">
            <div id="produce_sugar">
            </div>

        </div>
        <script>
            var graphs_population = {{ json_produce_sugar | safe}};
            var layout = { title: 'Sugarcane Production', xaxis: { title: 'Area' }, yaxis: { title: 'kg' } };
            Plotly.newPlot('produce_sugar', graphs_population, layout);
        </script>


    </div>



    </div>






</body>

</html>