<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><b>UID : </b></h3>
    1234 9876 1234
    <h3><b>Area : </b></h3>
    12000 Hectares

    <table>
        <tr>
            <th>Year</th>
            <th>Season</th>
            <th>Past Crops</th>
        </tr>
        <tr>
            <td>2019</td>
            <td>Kharif</td>
            <td>Jowar</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>Rabi</td>
            <td>Rice</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>Kharif</td>
            <td>Cotton</td>
        </tr>
    </table>

    <h3> Present Soil Content</h3>

    <table>
        <tr>
            <td>Nitrogen</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Carbon</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Pottasium</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Phosphorous</td>
            <td>20</td>
        </tr>
    </table>


</body>
</html>